<!DOCTYPE html>
{% load static %}
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--====== Title ======-->
    <title>iRiseup - Book and publisher blog page</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="{% static 'assets/images/logo1.png' %}" />
    <!-- Headings font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Body font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <!--====== IcoFont css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/icofont.min.css' %}" />
    <!--====== Glightbox css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/glightbox.css' %}" />
    <!--====== swiper css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}" />
    <!--====== Margins & Paddings css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/margins-paddings.css' %}" />
    <!--====== Aos & Paddings css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <!--====== Custom css ======-->
    <!-- <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" /> -->
    <!--====== Custom variants ======-->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/colors/oldRose.css' %}"
      id="color-switch"
    />
    <!-- Default color version -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/fonts/philosopher-poppins.css' %}"
      id="font-switch"
    />
    <!-- Default font version -->
    <!--  Template Flat BG -->
    <!-- <link href="{% static 'assets/css/colors/wildBlue.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/colors/nomad.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/colors/viridian.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/colors/pink.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/colors/coffee.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/colors/royal.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/colors/sky.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/colors/olive.css' %}" rel="stylesheet"> -->
    <!--  Template Typography -->
    <!-- <link href="{% static 'assets/css/fonts/poppins-roboto.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/fonts/josepin-sourceSansPro.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/fonts/montserrat-lato.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/fonts/raleway-montserrat.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'assets/css/fonts/avril-lato.css' %}" rel="stylesheet"> -->
    <!--====== Custom css ======-->
    <!-- <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" /> -->
  </head>

  <body>
    <div class="section-wrapper">
      <!-- ========== Preloader start ========== -->
      <div id="preLoader"></div>
      <!-- ========== Preloader end ========== -->
      <!-- ========== Header start ========== -->
      <header class="header">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="{% url 'home' %}">
                <!-- <h1 class="m-0">WONTED</h1> -->
                <img src="{% static 'assets/images/logo1.png' %}" alt="{% url 'home' %}" />
              </a>
              <div class="collapsed navbar-collapsed" id="navbarSupportedContent">
                <ul id="onepage-nav" class="navbar-nav menu ms-lg-auto">
                  <li class="nav-item dropdown submenu">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>

                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'design' %}">Design</a>
                  </li>

                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'marketing' %}">Marketing</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                </ul>
              </div>
              <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span><span></span><span></span><span></span><span></span
                ><span></span>
              </button>
            </nav>
          </div>
        </div>
      </header>
      <!-- ========== Header end ========== -->
      <!-- ========== All blogs hero start ========== -->
      <section
        id="all-blogs"
        class="all-blogs hero__padding overflow-hidden position-relative bg-one"
      >
        <div class="container">
          <div class="row">
            <div class="blog-title">
              <h1
                class="display-3"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="600"
              >
                
              Unlock Your Inner Author With I Rise Up Writing Blog
              </h1>
              <ul>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="650">

              <br> Unlock Your Potential as a Writer: Explore the World of Book Design, Genre, Editing, Publishing, and Marketing with I Rise Up!
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- ========== All blogs hero end ========== -->
      <!-- ========== Blog Grid section start ========== -->
      <section id="blog" class="section-padding blog">
        <div class="container">
          <div class="row">
            <div
              class="col-md-6 col-lg-4 mb-4"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              <article class="blog__single-post">
                <div class="blog__single-post__image">
                  <a href="{% url 'single-blog' %}">
                    <img
                      class="img-fluid"
                      src="{% static 'assets/images/blog/blog_01.jpg' %}"
                      alt="Blog 01"
                    />
                  </a>
                </div>
                <div class="blog__single-post__body">
                  <div class="blog__single-post__content">
                    <h2 class="fs-4">
                      <a href="{% url 'single-blog' %}"
                        >Book News: Egypt Bans Ridley Scott’s ‘Exodus’ For
                        ‘Historical</a
                      >
                    </h2>
                    <p class="m-0">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                  <div class="blog__single-post__meta">
                    <div>
                      <i class="icofont-calendar"></i
                      ><a href="#">May 22, 2022</a>
                    </div>
                    <div>
                      <i class="icofont-speech-comments"></i>
                      <a href="#">Comment(05)</a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="300"
            >
              <article class="blog__single-post">
                <div class="blog__single-post__image">
                  <a href="{% url 'single-blog' %}">
                    <img
                      class="img-fluid"
                      src="{% static 'assets/images/blog/blog_01.jpg' %}"
                      alt="Blog 01"
                    />
                  </a>
                </div>
                <div class="blog__single-post__body">
                  <div class="blog__single-post__content">
                    <h2 class="fs-4">
                      <a href="{% url 'single-blog' %}"
                        >Book News: Egypt Bans Ridley Scott’s ‘Exodus’ For
                        ‘Historical</a
                      >
                    </h2>
                    <p class="m-0">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                  <div class="blog__single-post__meta">
                    <div>
                      <i class="icofont-calendar"></i
                      ><a href="#">May 22, 2022</a>
                    </div>
                    <div>
                      <i class="icofont-speech-comments"></i>
                      <a href="#">Comment(05)</a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="400"
            >
              <article class="blog__single-post">
                <div class="blog__single-post__image">
                  <a href="{% url 'single-blog' %}">
                    <img
                      class="img-fluid"
                      src="{% static 'assets/images/blog/blog_02.jpg' %}"
                      alt="Blog 02"
                    />
                  </a>
                </div>
                <div class="blog__single-post__body">
                  <div class="blog__single-post__content">
                    <h2 class="fs-4">
                      <a href="{% url 'single-blog' %}"
                        >Wyden, Eshoo question “big five” publishers over</a
                      >
                    </h2>
                    <p class="m-0">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                  <div class="blog__single-post__meta">
                    <div>
                      <i class="icofont-calendar"></i
                      ><a href="#">May 22, 2022</a>
                    </div>
                    <div>
                      <i class="icofont-speech-comments"></i>
                      <a href="#">Comment(05)</a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="500"
            >
              <article class="blog__single-post">
                <div class="blog__single-post__image">
                  <a href="{% url 'single-blog' %}">
                    <img
                      class="img-fluid"
                      src="{% static 'assets/images/blog/blog_02.jpg' %}"
                      alt="Blog 02"
                    />
                  </a>
                </div>
                <div class="blog__single-post__body">
                  <div class="blog__single-post__content">
                    <h2 class="fs-4">
                      <a href="{% url 'single-blog' %}"
                        >Wyden, Eshoo question “big five” publishers over</a
                      >
                    </h2>
                    <p class="m-0">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                  <div class="blog__single-post__meta">
                    <div>
                      <i class="icofont-calendar"></i
                      ><a href="#">May 22, 2022</a>
                    </div>
                    <div>
                      <i class="icofont-speech-comments"></i>
                      <a href="#">Comment(05)</a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="600"
            >
              <article class="blog__single-post">
                <div class="blog__single-post__image">
                  <a href="{% url 'single-blog' %}">
                    <img
                      class="img-fluid"
                      src="{% static 'assets/images/blog/blog_03.jpg' %}"
                      alt="Blog 03"
                    />
                  </a>
                </div>
                <div class="blog__single-post__body">
                  <div class="blog__single-post__content">
                    <h2 class="fs-4">
                      <a href="{% url 'single-blog' %}"
                        >There is a method to this book-buying madness</a
                      >
                    </h2>
                    <p class="m-0">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                  <div class="blog__single-post__meta">
                    <div>
                      <i class="icofont-calendar"></i
                      ><a href="#">May 22, 2022</a>
                    </div>
                    <div>
                      <i class="icofont-speech-comments"></i>
                      <a href="#">Comment(05)</a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="700"
            >
              <article class="blog__single-post">
                <div class="blog__single-post__image">
                  <a href="{% url 'single-blog' %}">
                    <img
                      class="img-fluid"
                      src="{% static 'assets/images/blog/blog_03.jpg' %}"
                      alt="Blog 03"
                    />
                  </a>
                </div>
                <div class="blog__single-post__body">
                  <div class="blog__single-post__content">
                    <h2 class="fs-4">
                      <a href="{% url 'single-blog' %}"
                        >There is a method to this book-buying madness</a
                      >
                    </h2>
                    <p class="m-0">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                  <div class="blog__single-post__meta">
                    <div>
                      <i class="icofont-calendar"></i
                      ><a href="#">May 22, 2022</a>
                    </div>
                    <div>
                      <i class="icofont-speech-comments"></i>
                      <a href="#">Comment(05)</a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="blog__pagination">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <!-- ========== Blog Grid section end ========== -->
{% include 'footer.html' %}
    </div>
  </body>
</html>
