{% extends 'base.html' %}
{% block content %}
{% load static %}


<style>


.input-border-focus {
            --tw-ring-color: #60A5FA;
        }
        .btn-hover:focus, .btn-hover:hover {
            background-color: #4CAF50;
            border-color: #4CAF50;
        }
        .floating-form {
            position: fixed;
            bottom: -100px; /* Initially hide the form */
            right: 20px;
            transition: bottom 0.3s ease-in-out; /* Smooth transition */
            z-index: 999;
        }
        .floating-form.show {
            bottom: 20px; /* Show the form when scrolled down */
        }

.banner-logo-bg {
	background: transparent radial-gradient(closest-side at 50% 50%, #091a39 0, #091a39 100%);
	padding: 30px 0;
}
.banner-form {
	background: #fff;
	box-shadow: 0 3px 30px #00000029;
	border-radius: 15px;
	padding: 35px;
	position: relative;
	top: 60px;
	margin: 0
}
.banner-btn button {
	background: #4CAF50;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	padding: 10px 0;
	width: 100%;
	border: 2px solid #4CAF50
}
.banner-logo-bg input {
	height: 50px
}
.banner-logo-bg .owl-carousel .owl-item img {
	width: 160px;
}

.owl-carousel .item {
    margin-right: 30px;
    margin-left: 30px; /* Adjust the value as needed */
}



.button-container {
  display: flex;
  align-items: center;
}

.get-started-btn,
.live-chat-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px; /* Adjust margin as needed */
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.get-started-btn:hover,
.live-chat-btn:hover {
  background-color: #45a049;
}


.chat-now, 
.contact-us-now, .get-a-quote {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px; /* Adjust margin as needed */
  background-color: #005503;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.chat-now:hover, 
.contact-us-now:hover, .get-a-quote:hover {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px; /* Adjust margin as needed */
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}


 

.flip-cards-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    z-index:-1;
}

.flip-card {
    width: calc(25% - 25px); /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
    margin-left: 50px;
    margin-right: 50px;
    
}

/* Add your existing CSS styles here */
 

/* You may need to adjust z-index and other properties if the second button overlaps with other content */

/* Unique form container class */
.form-container-unique {
  background-color: #F3E9D2(253, 252, 251, 0.7); /* Nude color with some transparency */
  padding: 20px;
}

/* Unique form wrapper class */
.form-wrapper-unique {
  background-color: rgba(255, 220, 200, 0.7); /* Solid white background for the form */
  padding: 20px;
  border-radius: 10px;
}

/* Unique heading class */
.form-heading-unique {
  margin-bottom: 20px;
}

/* Unique form group class */
.form-group-unique {
  margin-bottom: 20px;
}

/* Unique form control class */
.form-control-unique {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Unique button class */
/* Unique button class */
.btn-form-primary-unique {
  background-color: #007bff; /* Blue color for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Unique button class initial state */
.btn-form-primary-unique:not(:hover) {
  background-color: #D9BF77; /* Same as hover state */
}

/* Hover state for the unique button */
.btn-form-primary-unique:hover {
  background-color: #cfac4d; }



</style>


 

<div class="section-wrapper">
    <!-- Tmb loader end -->
    <div id="preLoader"></div>
    <!-- Tmb loader end -->

    {% include 'header.html' %}


    <!-- ========== Hero section start ========== -->
    <section
            id="hero"
            class="hero hero__padding overflow-hidden position-relative bg-one"
    >
        <div class="circle x1"></div>
        <div class="circle x2"></div>
        <div class="circle x3"></div>
        <div class="circle x4"></div>
        <div class="circle x5"></div>
        <div class="container">
            <div class="row gx-5 align-items-left">
                <div class="col-md-7 mb-4 mb-md-0 p-10" data-aos="zoom-in-up" data-aos-duration="1000"
                     data-aos-delay="850">
                    <div class="hero__content position-relative">
                        <h1 class="display-4 mb-4 text-capitalize" style="font-size: 52px;">
                            THE BEST MEMOIR WRITING SERVICE YOU CAN FIND NATIONWIDE
                        </h1>
                        <p class="text-muted mb-5 fs-5" style="font-size: 5px;">
                            Our memoir writer for hire can help you share a legendary tale worldwide. Click below for
                            more details
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <img src="{% static 'assets/images/goodfirms.png' %}" class="img-fluid" alt="GoodFirms">
                        </div>
                        <div class="col-3">
                            <img src="{% static 'assets/images/clutch.png' %}" class="img-fluid" alt="Clutch">
                        </div>
                        <div class="col-3">
                            <img src="{% static 'assets/images/pilot.png' %}" class="img-fluid" alt="Pilot">
                        </div>
                    </div>
                    <div class="button-container">
                        <a href="#" class="chat-now" style="margin-top: 30px;">CHAT NOW</a>
                        <a href="#" class="get-a-quote" style="margin-top: 30px;">GET A QUOTE</a>
                        <a href="#" class="contact-us-now" style="margin-top: 30px;">CONTACT US NOW</a>
                    </div>
                </div>
                <div class="col-md-5 text-center form-container-unique" data-aos="fade-up" data-aos-duration="1000"
                     data-aos-delay="850">
                    <div class="form-wrapper-unique" style="padding-right: 20px;">
                        <h2 class="form-heading-unique" style="font-size: 30px; font-style:italic;">Take Control of Your
                            Writing Journey!</h2>
                        <p>Fill out the form now to consult our book experts.</p>
                        <form id="contact-form" method="post" action="#">
                            <div class="form-group-unique">
                                <input type="text" class="form-control-unique" id="name" name="name_1"
                                       placeholder="Name" required>
                            </div>
                            <div class="form-group-unique">
                                <input type="email" class="form-control-unique" id="email" name="email"
                                       placeholder="Email Address" required>
                            </div>
                            <div class="form-group-unique">
                                <input type="tel" class="form-control-unique" id="phone" name="phone_1"
                                       placeholder="Phone Number" required>
                            </div>
                            <div class="form-group-unique">
                                <textarea class="form-control-unique" id="project-details" name="project_details_1"
                                          rows="3" placeholder="Project Details" required></textarea>
                            </div>
                            <button type="submit" class="btn-form-primary-unique">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>

            </div>

    </section>
    <!-- ========== Hero section end ========== -->

    <!-- Banner Logo Start -->

    <section class="banner-logo-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel owl-banner-logo owl-theme d-flex justify-content-center align-items-center">
                        <div class="item"><img src="{% static 'assets/images/banner1.png' %}" class="img-fluid"
                                               alt="LT-writing "></div>
                        <div class="item"><img src="{% static 'assets/images/banner2.png' %}" class="img-fluid"
                                               alt="LT-writing "></div>
                        <div class="item"><img src="{% static 'assets/images/banner3.png' %}" class="img-fluid"
                                               alt="LT-writing "></div>
                        <div class="item"><img src="{% static 'assets/images/banner4.png' %}" class="img-fluid"
                                               alt="LT-writing "></div>
                        <div class="item"><img src="{% static 'assets/images/banner5.png' %}" class="img-fluid"
                                               alt="LT-writing "></div>
                        <div class="item"><img src="{% static 'assets/images/banner6.png' %}" class="img-fluid"
                                               alt="LT-writing "></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>

        <div class="bg-gray-100 flex items-center justify-center">
            <div class="bg-white p-7 rounded-lg shadow-lg" data-aos="zoom-in-up"
                 data-aos-duration="1000"
                 data-aos-delay="200">
                <form class="flex flex-wrap gap-4 justify-center items-center">
                    <input type="text" name="name" placeholder="Name"
                           class="input-border-focus flex-1 min-w-[140px] px-4 py-2 border rounded border-gray-300 focus:outline-none focus:ring focus:border-blue-300">
                    <input type="email" name="email" placeholder="Email"
                           class="input-border-focus flex-1 min-w-[140px] px-4 py-2 border rounded border-gray-300 focus:outline-none focus:ring focus:border-blue-300">
                    <input type="tel" name="phone" placeholder="Number"
                           class="input-border-focus flex-1 min-w-[140px] px-4 py-2 border rounded border-gray-300 focus:outline-none focus:ring focus:border-blue-300">
                    <button type="submit"
                            class="btn-hover px-6 py-2 text-white bg-green-400 rounded shadow-lg hover:bg-teal-500 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-50">
                        LET'S START
                    </button>
                </form>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</div>

{% endblock %}



