<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--====== Title ======-->
    <title>I Rise Up Book and publisher landing page</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="assets/images/logo1.png" />
    <!-- Headings font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Body font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!--====== IcoFont css ======-->
    <link rel="stylesheet" href="assets/css/icofont.min.css" />
    <!--====== Glightbox css ======-->
    <link rel="stylesheet" href="assets/css/glightbox.css" />
    <!--====== swiper css ======-->
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <!--====== Margins & Paddings css ======-->
    <link rel="stylesheet" href="assets/css/margins-paddings.css" />
    <!--====== Aos & Paddings css ======-->
    <link rel="stylesheet" href="assets/css/aos.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--====== Custom css ======-->
    <!-- <link rel="stylesheet" href="assets/css/custom.css" /> -->
    <!--====== Custom variants ======-->
    <link
      rel="stylesheet"
      href="assets/css/colors/oldRose.css"
      id="color-switch"
    />
    <!-- Default color version -->
    <link
      rel="stylesheet"
      href="assets/css/fonts/philosopher-poppins.css"
      id="font-switch"
    />
    <!-- Default font version -->
    <!--  Template Flat BG -->
    <!-- <link href="assets/css/colors/wildBlue.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/nomad.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/viridian.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/pink.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/coffee.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/royal.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/sky.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/olive.css" rel="stylesheet"> -->
    <!--  Template Typography -->
    <!-- <link href="assets/css/fonts/poppins-roboto.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/josepin-sourceSansPro.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/montserrat-lato.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/raleway-montserrat.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/avril-lato.css" rel="stylesheet"> -->
    <!--====== Custom css ======-->
    <!-- <link rel="stylesheet" href="assets/css/custom.css" /> -->
  </head>

  <body>
    <div class="section-wrapper">
      <!-- ========== Preloader start ========== -->
      <div id="preLoader"></div>
      <!-- ========== Preloader end ========== -->
      <!-- ========== Header start ========== -->
      <header class="header">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="iRiseup.html">
                <!-- <h1 class="m-0">WONTED</h1> -->
                <img src="assets/images/logo1.png" alt="Wonted" />
              </a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="onepage-nav" class="navbar-nav menu ms-lg-auto">
                  <li class="nav-item dropdown submenu">
                    <a
                      class="nav-link scroll dropdown-toggle"
                      href="#hero"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Home
                    </a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="index.html" class="nav-link">Home One</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-2.html" class="nav-link">Home Two</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-3.html" class="nav-link">Home Three</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-4.html" class="nav-link">Home Four</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-5.html" class="nav-link">Home Five</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-6.html" class="nav-link">Home Six</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a
                      class="nav-link scroll dropdown-toggle"
                      href="#events"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Events
                    </a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="all-events.html" class="nav-link"
                          >All Events</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="single-event.html" class="nav-link"
                          >Single Event</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a
                      class="nav-link scroll dropdown-toggle"
                      href="#events"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Pages
                    </a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="404.html" class="nav-link">404 Page</a>
                      </li>
                      <li class="nav-item">
                        <a href="page-without-sidebar.html" class="nav-link"
                          >Page Without Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="page-left-sidebar.html" class="nav-link"
                          >Page Left Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="page-right-sidebar.html" class="nav-link"
                          >Page Right Sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a
                      class="nav-link scroll dropdown-toggle"
                      href="#blog"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Blog
                    </a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="blog-grid.html" class="nav-link">Blog Grid</a>
                      </li>
                      <li class="nav-item">
                        <a href="blog-list.html" class="nav-link">Blog List</a>
                      </li>
                      <li class="nav-item">
                        <a href="left-sidebar.html" class="nav-link"
                          >Left Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="right-sidebar.html" class="nav-link"
                          >Right Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="single-blog.html" class="nav-link"
                          >Details Without Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="blog-left-sidebar.html" class="nav-link"
                          >Details Left Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="blog-right-sidebar.html" class="nav-link"
                          >Details Right Sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span><span></span><span></span><span></span><span></span
                ><span></span>
              </button>
            </nav>
          </div>
        </div>
      </header>
      <!-- ========== Header end ========== -->
      <!-- ========== Page hero start ========== -->
      <section
        id="all-blogs"
        class="all-blogs hero__padding overflow-hidden position-relative bg-one"
      >
        <div class="container">
          <div class="row">
            <div class="blog-title">
              <h1
                class="display-3"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="600"
              >
                Terms and Condition
              </h1>
              <ul>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="650"
                >
                  <a href="index.html">Home</a>
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="700"
                >
                  <i class="icofont-rounded-right"></i>
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="750"
                >
                  Terms&Condition
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- ========== Page hero end ========== -->
      <!-- ========== Content start ========== -->
      <section class="section-padding pages">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="pages__content">
                <p>
                    Using this Website and/or our services means you accept the following terms and conditions: <br>
                    <br>

                    If you disagree with these terms and conditions, please refrain from using this Website and our services. 
                    Those not of legal consenting age in their district are prohibited from using this Website or our services. 
                    You confirm that you are of legal age to buy any of our products or services offered on this Website.
                    
                    By placing an order and/or payment, you confirm understanding and agreement to these terms and conditions, 
                    forming the complete agreement between you and I Rise Up Publishing.
                </p>
                <blockquote>
                  <p>
                    Definitions: <br>
- "Website" refers to content on I Rise Up Publishing website pages. <br>
- "Customer," "You," "Yours" refer to you or anyone placing an order with I Rise Up Publishing on your behalf. <br>
- "Company," "We," "Our" refer to I Rise Up Publishing, a company abiding by state laws. <br>
- "Product or Services" refers to all services and products provided by I Rise Up Publishing as per your order. <br>
- "Order" means a purchase made by you for our services or products, confirmed through various payment methods. <br>
                  </p>
                </blockquote>
                <p>
                    Our Services: <br>
                    Ordering and/or payment implies purchasing the product for personal use. All products are created by freelance writers who grant all rights and ownership to the Company. 
                    Products are non-refundable and provided without any warranties, expressed or implied. Review these Terms and Conditions before any order/payment submission. <br>
<br>
                    Refund Policy: <br>
                    Understand our refund policy's privileges and limitations as per the Professional Ghostwriter Policy. 
                    Refunds are issued under specific conditions: <br>
                    <br>

                    Change of Mind: <br>
                    Entitled to a 50% refund before work commencement. 
                    Post-order placement changes must be requested within one hour to avoid a 50% processing fee.<br>
                    <br>

                    Incompetent Delivery: <br>
                    Claims are valid if the product fails to meet documented requirements. We offer unlimited revisions for satisfaction, with possible free future services of equal value if unresolved. 
                    Refunds, based on mutual agreement, are processed for significantly off-mark deliveries. <br>
                    <br>

                    Late Delivery: <br>
                    Commitment to timely delivery; however, delays proven to be our fault, 
                    after three contact attempts, will lead to a refund. <br>
                    <br>

                    Refund Time Frame: <br>
                    Claims must be made within 30 days of delivery. Late claims are not accepted.<br>
                    <br>

                    Non-Refundable Cases: <br>
                    Refunds or partial refunds are not provided for minor technical errors (grammar, typing, etc.), delays due to the client’s end, or quality dissatisfaction. 
                
                </p>
                <blockquote>
                    Please contact us at info@iriseuppublishing.com for any concerns about these policies. 
                    We're committed to ensuring a satisfactory and clear understanding of our terms and your rights.
                </blockquote> 
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ========== Content end ========== -->
            <!-- ========== Footer section Start ========== -->
            <footer class="footer bg-one overflow-hidden">
                <div class="container">
                  <div class="footer__topv2 m-50px-t m-50px-b">
                    <div class="row">
                      <div
                        class="col-md-6 col-lg-3 mb-4 mb-lg-0"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="200"
                      >
                        <div class="footer__topv2__about">
                          <div class="logo">
                            <img
                              src="assets//images/logo1.png"
                              alt="Footer Logo"
                            />
                          </div>
                          <div class="text">
                            <p>
                              iRiseup helps authors turn their ideas into published works, 
                              providing expert editing, ghostwriting, and publishing services.
                            </p>
        
                            
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-md-6 col-lg-3 mb-4 mb-lg-0"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="250"
                      >
                        <div class="footer__topv2__link"> 
                          <div class="title">
                            <p>SERVICES</p>
                          </div>
                          <ul class="link">
                            <li><a href="404.html"> > Book Marketing</a></li>
                            <li>
                              <a href="page-without-sidebar.html"
                                > > Book Cover</a
                              >
                            </li>
                            <li>
                              <a href="page-left-sidebar.html"> > Book Publishing</a>
                            
                            <li>
                              <a href="page-right-sidebar.html"> > Book Editing</a>
                            </li>
                            <li><a href="404.html"> > Book Cover Design</a></li>
                            <li>
                              <li><a href="404.html"> > Memoir Writing</a></li>
                            <li>
                              <li><a href="404.html"> > Audio Book Services</a></li>
                              <li>
                                <li><a href="404.html"> > Manuscript Writing</a></li>
                                <li>
                                  <li><a href="404.html"> > Audio Book Services</a></li>
                            <li>
                          </ul>
                        </div>
                      </div>
                      <div
                        class="col-md-6 col-lg-3 mb-4 mb-lg-0"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="300"
                      >
                        <div class="footer___topV2__contact">
                          <div class="title">
                            <p>Contact Us</p>
                          </div>
                          <ul class="info">
                            <li>
                              <i class="icofont-google-map"></i
                              ><a href="#">Ohio CA 94107,US</a>
                            </li>
                            <li>
                              <i class="icofont-email"></i
                              ><a mailto="wonted@gmail.com"> info@iriseuppublishing.com</a>
                            </li>
                            <li>
                              <i class="icofont-phone"></i
                              ><a tel="+123 345123 556">+123 345123 556</a>
                            </li>
                          </ul>
                          <ul class="social-icon">
                            <li>
                              <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="icofont-brand-whatsapp"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div
                        class="col-md-6 col-lg-3"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="350"
                      >
                        <div class="footer___topV2__newsletter">
                          <div class="title">
                            <p>PAYMENT METHOD</p>
                          </div>
                          <br>
                          <img src="assets/images/payment.png" alt="iRiseup.html" />
                          <br>
        
                          <div class="text">
                            <p>
                              Feed your love for captivating tales! Subscribe now for an exclusive literary adventure!
                            </p>
                          </div>
                          <form action="assets/subscribe/subscribe.php" id="subscribe">
                            <div class="input-group aos-init aos-animate">
                              <input
                                type="email"
                                name="email"
                                placeholder="Email"
                                id="subscriber-email"
                              />
                              <button
                                class="button button__primary"
                                id="subscribe-button"
                              >
                                <span>Subscribe</span>
                              </button>
                              <div
                                data-lastpass-icon-root="true"
                                style="
                                  position: relative !important;
                                  height: 0px !important;
                                  width: 0px !important;
                                  float: left !important;
                                "
                              ></div>
                            </div>
                            <div class="result">
                              <p class="success-msg aos-init aos-animate">
                                <i class="icofont-check"></i> Your email has been
                                stored!
                              </p>
                              <p class="error-msg aos-init aos-animate">
                                <i class="icofont-close"></i> Sorry! Something went
                                wrong!
                              </p>
                            </div>
                          </form>
                          <!-- Mailchimp subscription form -->
                          <!-- <form action="#" id="subscribe-mailchimp" data-wow-duration="1.5s">
                            <div class="input-group" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="750">
                              <input type="email" name="email" placeholder="Email" id="subscriber-email" />
                              <button class="button button__primary" id="subscribe-button">
                                <span>Subscribe</span>
                              </button>
                            </div>
                            <div class="result">
                                <p class="success-msg" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800"><i class="icofont-check"></i> You email has been stored!</p>
                                <p class="error-msg" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="850"><i class="icofont-close"></i> Sorry! Something went wrong!</p>
                            </div>
                          </form> -->
                          <!-- subscription form end -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="footer__copyright m-20px-t m-20px-b d-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-0">
                            &copy; 2024 All rights reserved. Powered by: <a href="#">iRiseUp</a>
                        </p>
                    </div>
                    <div class="text-right">
                        <p class="m-0">
                            <a href="privacy_policy_url">Privacy Policy</a> | <a href="terms_and_conditions_url">Terms and Conditions</a>
                        </p>
                    </div>
                </div>        
                  </div>
                  </div>
                  
        
                      
                    </div>
                  </div>
                </div>
              </footer>
              <!-- ========== Footer section End ========== -->
    </div>
    <!--====== jquery js ======-->
    <script src="assets/js/jquery.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!--====== One page nav ======-->
    <script src="assets/js/onepageNav.js"></script>
    <!--====== Glightbox js ======-->
    <script src="assets/js/glightbox.js"></script>
    <!--====== jquery Swiper js ======-->
    <script src="assets/js/swiper.min.js"></script>
    <!--====== Ajaxchimp js ======-->
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!--====== Appear js ======-->
    <script src="assets/js/jquery.appear.min.js"></script>
    <!--====== Aos js ======-->
    <script src="assets/js/aos.js"></script>
    <!--====== Custom js ======-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>
